@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&family=League+Spartan:wght@700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);
    margin: 0;
    padding: 0;
}

:root{
    --color-text: #1F2148;
    


    --margin-header: 0px 100px;
    --margin-default: 0px 150px;


}

section .containerHeader{
    width: 100%;
    height: 100vh;
    background: rgb(202,236,152);
    background: linear-gradient(90deg, rgba(202,236,152,1) 0%, rgba(187,233,161,1) 16%, rgba(140,224,188,1) 41%, rgba(102,221,194,1) 77%, rgba(225,226,226,1) 96%);
}

section .nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.nav ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center;
}


.nav li {
    margin: 0 20px;
}


.nav li a {
    text-decoration: none; 
    color: white; 
    font-weight: bold;
}

section .containerHeader .contTextImage{
    margin: var(--margin-header);
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
section .containerHeader .contTextImage .text{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.text h4{
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.text h2{
    font-size: 90px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 100px;
    margin: 20px 0px 20px 0px;
}
.text h3{
    font-size: 20px;
    font-weight: 200;
    text-transform: capitalize;
}
section .containerHeader .contTextImage .imagen{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

section .containerHeader .contTextImage .imagen img{
    width: 480px;
    
}

section .containerHeader .reloj{
    width: 100%;
    height: 90px;   
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    font-size: 20px;
}
section .containerHeader .reloj .date{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
section .containerHeader .reloj .countdown-container{
    display: flex;
    gap: 20px;
}

.countdown-container > div {
    text-align: center;
}




section .sobreDevOps{
    background: white;
    height: 300px;
    width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

section .sobreDevOps .p{
    margin: var(--margin-default);
}

p{
    margin: 0;
    padding: 0;
    text-align: justify;
}