@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&family=League+Spartan:wght@700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);
    margin: 0;
    padding: 0;
}

:root{
    --color-text: #1F2148;
    --color-bg1: #F0F8FF;
    --color-aqua: #2FDBB3;
    --color-hover-nav: #0181F5;
    


    --margin-header: 0px 100px;
    --margin-default: 0px 150px;
    --margin-top-separados-sections: 50px;

    --margin-pantalla-phone: 0px 10px;
    --paddin-p-pantallas-phone: 30px;

    --marign-pantalla-tablet: 0px 30px;

}

section .containerHeader{
    width: 100%;
    height: 100vh;
    background: rgb(202,236,152);
    background: linear-gradient(90deg, rgba(202,236,152,1) 0%, rgba(187,233,161,1) 16%, rgba(140,224,188,1) 41%, rgba(102,221,194,1) 77%, rgba(225,226,226,1) 96%);
}

section .nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.nav ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center;
}


.nav li {
    margin: 0 20px;
}


.nav li a {
    text-decoration: none; 
    color: white; 
    font-weight: bold;
    position: relative;
}
.nav li a:hover{
    color: var(--color-hover-nav);
    transition: all 500ms;
}
.nav li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px; /* Altura de la línea */
    background-color: var(--color-hover-nav); /* Color de la línea */
    bottom: -3px; /* Posición debajo del texto */
    left: 0;
    transform: scaleX(0); /* Inicialmente, la línea está oculta */
    transform-origin: 50% 0; /* Origen de la transformación en la parte superior */
    transition: transform 0.3s ease; /* Transición de la línea */
}

/* Efecto al pasar el mouse sobre un enlace */
.nav li a:hover::after {
    transform: scaleX(1); /* Mostrar la línea al 100% de su ancho */
}







.nav .tittleNav{
    cursor: pointer;
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    
}

.nav .tittleNav:hover{
    color: #0181F5;
    transition: all 500ms;
}

.nav-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1F2148;
    z-index: 1000;
    transition: background-color 0.3s;
}


section .containerHeader .contTextImage{
    margin: var(--margin-header);
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
section .containerHeader .contTextImage .text{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.text h4{
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.text h2{
    font-size: 90px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 100px;
    margin: 20px 0px 20px 0px;
}
.text h3{
    font-size: 20px;
    font-weight: 200;
    text-transform: capitalize;
}
section .containerHeader .contTextImage .imagen{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

section .containerHeader .contTextImage .imagen img{
    width: 480px;
    
}

section .containerHeader .reloj{
    width: 100%;
    height: 90px;   
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    font-size: 20px;
}
section .containerHeader .reloj .date{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}
section .containerHeader .reloj .countdown-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.countdown-container > div {
    text-align: center;
    
}
/*FINAL DEL HEADER*/




/*INICIO ABOUT DEVOPS*/
section .sobreDevOps{
    
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: var(--margin-top-separados-sections);
    
}
section .sobreDevOps .containerInterno{
    margin: var(--margin-default);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .sobreDevOps .containerInterno .imagenBienvenida{
    width: 50%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .sobreDevOps .containerInterno .imagenBienvenida img{
    width: 100%;
}

section .sobreDevOps .containerInterno .parrafo{
    width: 50%;
    height: 100%;
}
section .sobreDevOps .containerInterno .parrafo h2{
    color: var(--color-text);
    padding: 30px 0px 0px 30px;
    margin: 0;
    font-size: 48px;
}

section .sobreDevOps .containerInterno .parrafo p{
    color: var(--color-text);
    padding: 30px;
    margin: 0;
    text-align: justify;
}

/*FINAL ABOUT DEVOPS*/




/*INICIO TEMATICS*/

section .tematicas{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg1);
}

section .tematicas .containerTematicas{
    margin: var(--margin-default);
    width: 100%;
    height: auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: var(--margin-top-separados-sections);
    
}
section .tematicas .containerTematicas .containerCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Espacio entre las tarjetas */
}

section .tematicas .containerTematicas .h2Tematicas{
    font-size: 48px;
    color: var(--color-aqua);
    margin: 0;
    padding: 0;
}
section .tematicas .containerTematicas .pTematicas{
   text-align: justify;
   margin-bottom: 30px;
}



  

  .card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-content {
    padding: 10px;
}

.card h2 {
    font-size: 18px;
    margin: 0;
}

.card p {
    font-size: 14px;
}

/*FINAL TEMATICS*/














/*SECCION CONTACT*/

section .Contact{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: var(--margin-top-separados-sections);
}

section .Contact .containerContact{
    width: 100%;
    height: 100%;
    margin: var(--margin-default);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex-direction: column;
}
section .Contact .containerContact .h2Contact{
    
    text-align: center;
    font-size: 48px;
    margin: 0;
    padding: 0;
}

section .Contact .containerContact .redes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
section .Contact .containerContact .redes .izqueiraImagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
section .Contact .containerContact .redes .izqueiraImagen img{
    width: 400px;
}

section .Contact .containerContact .redes .derechaRedes{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section .Contact .containerContact .pContact{
    color: var(--color-text);
    text-align: center;
    margin: 20px 50px;
    font-size: 20px;
}
section .Contact .containerContact .redes .derechaRedes .iconos a{
   text-decoration: none;
}
section .Contact .containerContact .redes .derechaRedes .iconos i{
    font-size: 40px;
    margin: 0px 10px;
    margin-top: 10px;
    transition: transform 0.3s; 
    cursor: pointer;
 }
 section .Contact .containerContact .redes .derechaRedes .iconos i:hover{
    transform: scale(1.2);
 }
/*FINAL CONTACT*/







/*BUTTON SCROLL-UP*/

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    background: rgb(202,236,152);
    background: linear-gradient(90deg, rgba(202,236,152,1) 0%, rgba(187,233,161,1) 16%, rgba(140,224,188,1) 41%, rgba(102,221,194,1) 77%, rgba(225,226,226,1) 96%);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
}
  





/*=======SECTION FOOTER========*/
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(202,236,152);
    background: linear-gradient(90deg, rgba(202,236,152,1) 0%, rgba(187,233,161,1) 16%, rgba(140,224,188,1) 41%, rgba(102,221,194,1) 77%, rgba(225,226,226,1) 96%);
    color: var(--color-text);
}

footer a{
    text-decoration: none;
    color: #ff7b00;
}

footer a:hover{
    color: white;
    transition: all 500ms;
}


section .nav .button{
    display: none;
}








/*===========   CODE RESPONSIVE   ===========*/
/* Media query para pantallas entre 300px y 400px de ancho */

@media (min-width: 300px) and (max-width: 400px) {
    .nav {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: -70%;
        height: 100vh;
         /* Ocupa todo el alto de la pantalla */
        z-index: 1;
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%); /* Oculta el menú fuera de la pantalla */
        background-color: var(--color-text);
    }

    .nav.active {
        transform: translateX(0); /* Muestra el menú desde la parte superior de la pantalla */
        width: 70%;
        height: 100vh;
        font-size: 30px;
        transition: transform 0.3s ease-in-out;
    }


    .hamburger-menu {
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        height: 57px;
    }
    .hamburger-menu i{
        font-size: 35px;
        margin: 10px;
    }
    

    

   

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Ocupa todo el alto del menú */
    }


    section .containerHeader .nav .tittleNav{
        display: none;
    }


    

    section{
        width: 100%;
    }
    section .nav{
        width: 0%;
    }
    section .nav ul{
        flex-direction: column;
    }
    


    section .containerHeader .contTextImage{
       flex-direction: column; 
       margin: var(--margin-pantalla-phone);
       height: auto;
    }
    section .containerHeader .contTextImage .text{
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        
     }
    .text h4{
        font-size: 25px;
        text-align: center;
        margin: 5px;
        
     }
     .text h2{
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        margin: 0;
     }
     .text h3{
        font-size: 15px;
        text-align: center;
        margin-top: 10px;
     }


     section .containerHeader .contTextImage .imagen{
        width: 100%;
        height: auto;
        justify-content: center;
    }
    section .containerHeader .contTextImage .imagen img{
        width: 300px;
    }

    section .containerHeader .reloj{
        width: 100%;
        height: auto;
        gap: 20px;
        font-size: 15px;
        flex-direction: column;
        margin-top: 10px;
    }


    /*FINAL DEL HEADER*/




    /*INICIO ABOUT DEVOPS*/

    section .sobreDevOps{
        flex-direction: column;
    }

    section .sobreDevOps .containerInterno{
        margin: var(--margin-pantalla-phone);
        width: 100%;
        flex-direction: column-reverse;
    }
    section .sobreDevOps .containerInterno .imagenBienvenida{
        width: 90%;
        height: auto;
        padding: var(--margin-pantalla-phone);
    }
    section .sobreDevOps .containerInterno .imagenBienvenida img{
        width: 90%;
        margin-bottom: 30px;
    }
    section .sobreDevOps .containerInterno .parrafo{
        width: 100%;
        height: auto;
    }
    section .sobreDevOps .containerInterno .parrafo h2{
        color: var(--color-text);
        padding: 0;
        margin: 0;
        font-size: 48px;
        text-align: center;
    }
    section .sobreDevOps .containerInterno .parrafo p{
        color: var(--color-text);
        padding: var(--paddin-p-pantallas-phone);
        margin: 0;
        text-align: justify;
    }

    /*FINAL ABOUT DEVOPS*/
    
    
   /*INICIO TEMATICS*/
   section .tematicas{
    width: 100%;
   }
   section .tematicas .containerTematicas{
    margin: var(--margin-pantalla-phone);
    padding: 15px;
   }
    section .tematicas .containerTematicas .containerCards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card{
        width: 100%;
    }

    /*FINAL TEMATICS*/


    /*SECCION CONTACT*/

    section .Contact{
        width: 100%;
    }
    section .Contact .containerContact{
        width: 100%;
        height: auto;
        margin: var(--margin-pantalla-phone);
    }
    section .Contact .containerContact .h2Contact{
        font-size: 30px;
    }
    section .Contact .containerContact .redes{
        flex-direction: column;
        margin: var(--margin-pantalla-phone);
    }
    section .Contact .containerContact .redes .izqueiraImagen{
        width: 100%;
    }
    section .Contact .containerContact .redes .izqueiraImagen img{
        width: 90%;
        margin-top: 30px;
    }
    section .Contact .containerContact .redes .derechaRedes{
        width: 100%;
    }
    section .Contact .containerContact .pContact{
        color: var(--color-text);
        text-align: center;
        
        font-size: 15px;
        width: 100%;
        text-align: justify;
    }
    section .Contact .containerContact .redes .derechaRedes .iconos i{
        margin-bottom: 30px;
     }
    /*FINAL SECCION CONTACT*/


    /*SECCION FOOTER*/
      section footer{
        width: 100%;
        text-align: center;
      }
    /* FIN SECCION FOOTER*/

  }
  
























@media (min-width: 400px) and (max-width: 767px) {
    .nav {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: -70%;
        height: 100vh;
         /* Ocupa todo el alto de la pantalla */
        z-index: 1;
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%); /* Oculta el menú fuera de la pantalla */
        background-color: var(--color-text);
    }

    .nav.active {
        transform: translateX(0); /* Muestra el menú desde la parte superior de la pantalla */
        width: 70%;
        height: 100vh;
        font-size: 30px;
        transition: transform 0.3s ease-in-out;
    }


    .hamburger-menu {
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        height: 57px;
    }
    .hamburger-menu i{
        font-size: 35px;
        margin: 10px;
    }
    

    

   

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Ocupa todo el alto del menú */
    }


    section .containerHeader .nav .tittleNav{
        display: none;
    }


    

    section{
        width: 100%;
    }
    section .nav{
        width: 0%;
    }
    section .nav ul{
        flex-direction: column;
    }
    


    section .containerHeader .contTextImage{
       flex-direction: column; 
       margin: var(--margin-pantalla-phone);
       height: auto;
    }
    section .containerHeader .contTextImage .text{
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        
     }
    .text h4{
        font-size: 30px;
        text-align: center;
        margin-bottom: 0;
        
     }
     .text h2{
        font-size: 50px;
        line-height: 50px;
        text-align: center;
        margin: 0;
     }
     .text h3{
        font-size: 20px;
        text-align: center;
        margin: 10px;
     }


     section .containerHeader .contTextImage .imagen{
        width: 100%;
        height: auto;
        justify-content: center;
    }
    section .containerHeader .contTextImage .imagen img{
        width: 350px;
    }

    section .containerHeader .reloj{
        width: 100%;
        height: auto;
        gap: 20px;
        font-size: 15px;
        flex-direction: column;
        margin-top: var(--margin-top-separados-sections);
    }


    /*FINAL DEL HEADER*/




    /*INICIO ABOUT DEVOPS*/

    section .sobreDevOps{
        flex-direction: column;
    }

    section .sobreDevOps .containerInterno{
        margin: var(--margin-pantalla-phone);
        width: 100%;
        flex-direction: column-reverse;
    }
    section .sobreDevOps .containerInterno .imagenBienvenida{
        width: 90%;
        height: auto;
        padding: var(--margin-pantalla-phone);
    }
    section .sobreDevOps .containerInterno .imagenBienvenida img{
        width: 90%;
        margin-bottom: 30px;
    }
    section .sobreDevOps .containerInterno .parrafo{
        width: 100%;
        height: auto;
    }
    section .sobreDevOps .containerInterno .parrafo h2{
        color: var(--color-text);
        padding: 0;
        margin: 0;
        font-size: 48px;
        text-align: center;
    }
    section .sobreDevOps .containerInterno .parrafo p{
        color: var(--color-text);
        padding: var(--paddin-p-pantallas-phone);
        margin: 0;
        text-align: justify;
    }

    /*FINAL ABOUT DEVOPS*/
    
    
   /*INICIO TEMATICS*/
   section .tematicas{
    width: 100%;
   }
   section .tematicas .containerTematicas{
    margin: var(--margin-pantalla-phone);
    padding: 15px;
   }
    section .tematicas .containerTematicas .containerCards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card{
        width: 100%;
    }

    /*FINAL TEMATICS*/


    /*SECCION CONTACT*/

    section .Contact{
        width: 100%;
    }
    section .Contact .containerContact{
        width: 100%;
        height: auto;
        margin: var(--margin-pantalla-phone);
    }
    section .Contact .containerContact .h2Contact{
        font-size: 30px;
    }
    section .Contact .containerContact .redes{
        flex-direction: column;
        margin: var(--margin-pantalla-phone);
    }
    section .Contact .containerContact .redes .izqueiraImagen{
        width: 100%;
    }
    section .Contact .containerContact .redes .izqueiraImagen img{
        width: 90%;
        margin-top: 30px;
    }
    section .Contact .containerContact .redes .derechaRedes{
        width: 100%;
    }
    section .Contact .containerContact .pContact{
        color: var(--color-text);
        text-align: center;
        
        font-size: 15px;
        width: 100%;
        text-align: justify;
    }
    section .Contact .containerContact .redes .derechaRedes .iconos i{
        margin-bottom: 30px;
     }
    /*FINAL SECCION CONTACT*/


    /*SECCION FOOTER*/
      section footer{
        width: 100%;
        text-align: center;
      }
    /* FIN SECCION FOOTER*/

  }
  




  /* Media query para pantallas entre 768px y 1023px de ancho */

  @media (min-width: 768px) and (max-width: 1023px) {
    section .containerHeader .hamburger-menu{
        display: none;
    }
    .text h4{
        
        margin-bottom: 0px;
    }
    .text h2{
        font-size: 70px;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 90px;
        
    }
    section .containerHeader .contTextImage .imagen img{
        width: 400px;
        
    }
    /*--==== END SECTION NAV-HEADER ====--*/



    /*--==== SECTION ABOUT DEVOPS ====--*/
    section .sobreDevOps .containerInterno{
        margin: var(--marign-pantalla-tablet);
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    section .sobreDevOps .containerInterno .imagenBienvenida{
        width: 100%;
    }
    section .sobreDevOps .containerInterno .imagenBienvenida img{
        width: 90%;
        margin-bottom: 40px;
    }
    section .sobreDevOps .containerInterno .parrafo{
        width: 100%;
        height: auto;
    }
    section .sobreDevOps .containerInterno .parrafo h2{
        color: var(--color-text);
        margin: 0;
        font-size: 48px;
        text-align: center;
    }
    /*--==== END SECTION ABOUT DEVOPS ====--*/




    /*--====  SECTION TEMATICS===--*/

    section .tematicas .containerTematicas{
        margin: var(--marign-pantalla-tablet);
        width: 100%;
        height: auto;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: var(--margin-top-separados-sections);
        
    }
    section .tematicas .containerTematicas .pTematicas{
        text-align: justify;
        margin: var(--marign-pantalla-tablet);
     }
    .card {
        width: 250px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 10px;
        display: inline-block;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin-top: 30px;
    }

    /*--==== END SECTION TEMATICS===--*/



    /*--==== SECTION CONTACT ===--*/
    section .Contact .containerContact{
        width: 100%;
        height: auto;
        margin: var(--marign-pantalla-tablet);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        flex-direction: column;
    }
    section .Contact .containerContact .h2Contact{
    
        text-align: center;
        font-size: 35px;
        margin: 0;
        padding: 0;
    }
    /*--====END SECTION CONTACT ===--*/
  }



/*--==== RESPONSIVE PANTALLAS DESKTOP===--*/
  @media (min-width: 1024px) {
    section .containerHeader .hamburger-menu{
        display: none;
    }
    
}