@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&family=League+Spartan:wght@700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);
    margin: 0;
    padding: 0;
}

:root{
    --color-text: #1F2148;
    --color-bg1: #F0F8FF;
    --color-aqua: #2FDBB3;
    


    --margin-header: 0px 100px;
    --margin-default: 0px 150px;
    --margin-top-separados-sections: 50px;


}

section .containerHeader{
    width: 100%;
    height: 100vh;
    background: rgb(202,236,152);
    background: linear-gradient(90deg, rgba(202,236,152,1) 0%, rgba(187,233,161,1) 16%, rgba(140,224,188,1) 41%, rgba(102,221,194,1) 77%, rgba(225,226,226,1) 96%);
}

section .nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.nav ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center;
}


.nav li {
    margin: 0 20px;
}


.nav li a {
    text-decoration: none; 
    color: white; 
    font-weight: bold;
}
.nav li a:hover{
    color: var(--color-text);
    transition: all 500ms;
}
.nav .tittleNav{
    cursor: pointer;
    font-size: 35px;
}
.nav .tittleNav:hover{
    color: white;
    transition: all 500ms;
}

.nav-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1F2148;
    z-index: 1000;
    transition: background-color 0.3s;
}


section .containerHeader .contTextImage{
    margin: var(--margin-header);
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
section .containerHeader .contTextImage .text{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.text h4{
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.text h2{
    font-size: 90px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 100px;
    margin: 20px 0px 20px 0px;
}
.text h3{
    font-size: 20px;
    font-weight: 200;
    text-transform: capitalize;
}
section .containerHeader .contTextImage .imagen{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

section .containerHeader .contTextImage .imagen img{
    width: 480px;
    
}

section .containerHeader .reloj{
    width: 100%;
    height: 90px;   
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    font-size: 20px;
}
section .containerHeader .reloj .date{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}
section .containerHeader .reloj .countdown-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.countdown-container > div {
    text-align: center;
    
}
/*FINAL DEL HEADER*/




/*INICIO ABOUT DEVOPS*/
section .sobreDevOps{
    
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: var(--margin-top-separados-sections);
    
}
section .sobreDevOps .containerInterno{
    margin: var(--margin-default);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .sobreDevOps .containerInterno .imagenBienvenida{
    width: 50%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .sobreDevOps .containerInterno .imagenBienvenida img{
    width: 100%;
}

section .sobreDevOps .containerInterno .parrafo{
    width: 50%;
    height: 100%;
}
section .sobreDevOps .containerInterno .parrafo h2{
    color: var(--color-text);
    padding: 30px 0px 0px 30px;
    margin: 0;
    font-size: 48px;
}

section .sobreDevOps .containerInterno .parrafo p{
    color: var(--color-text);
    padding: 30px;
    margin: 0;
    text-align: justify;
}

/*FINAL ABOUT DEVOPS*/




/*INICIO TEMATICS*/

section .tematicas{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg1);
}

section .tematicas .containerTematicas{
    margin: var(--margin-default);
    width: 100%;
    height: auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: var(--margin-top-separados-sections);
    
}
section .tematicas .containerTematicas .containerCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Espacio entre las tarjetas */
}

section .tematicas .containerTematicas .h2Tematicas{
    font-size: 48px;
    color: var(--color-aqua);
    margin: 0;
    padding: 0;
}
section .tematicas .containerTematicas .pTematicas{
   text-align: justify;
   margin-bottom: 30px;
}



  

  .card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-content {
    padding: 10px;
}

.card h2 {
    font-size: 18px;
    margin: 0;
}

.card p {
    font-size: 14px;
}

/*FINAL TEMATICS*/








/*BUTTON SCROLL-UP*/

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    background: rgb(202,236,152);
    background: linear-gradient(90deg, rgba(202,236,152,1) 0%, rgba(187,233,161,1) 16%, rgba(140,224,188,1) 41%, rgba(102,221,194,1) 77%, rgba(225,226,226,1) 96%);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
}
  





/*=======SECTION FOOTER========*/
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(202,236,152);
    background: linear-gradient(90deg, rgba(202,236,152,1) 0%, rgba(187,233,161,1) 16%, rgba(140,224,188,1) 41%, rgba(102,221,194,1) 77%, rgba(225,226,226,1) 96%);
    color: var(--color-text);
}

footer a{
    text-decoration: none;
    color: #ff7b00;
}

footer a:hover{
    color: white;
    transition: all 500ms;
}
